include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/granularvisibility *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/granularvisibility/migration *.ini *.py *.mako
