{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set data1 = data or {} %}
{% set data2 = data or {} %}
{% set errors = errors or {} %}
{% set actionAddvisibility = url_for('api.action', ver=3, logic_function='add_visibility') %}
{% set actiondeletevisibility = url_for('api.action', ver=3, logic_function='delete_visibility') %}

{% block primary_content_inner %}
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Add a new visibility') }}
  </h2>

  <p>Add a SINGLE visibility</p>

  <form id="visibility-add" class="dataset-form dataset-resource-form" method="post" action="{{ actionAddvisibility }}" data-module="basic-form resource-form" enctype="multipart/form-data">
    
    {{ form.input('visibility', id='visibility', label=_('Name'), placeholder=_('eg. Name'), value=data.visibility, error=errors.name, classes=['control-full']) }}

    {{ form.input('ckanmapping', id='ckanmapping', label=_('ckanmapping'), placeholder=_('eg. Leave blank for false, type "true" for true'), value=data.ckanmapping, error=errors.name, classes=['control-full']) }}

    {{ form.input('description', id='description', label=_('description'), placeholder=_('eg. description'), value=data.description, error=errors.name, classes=['control-full']) }}

    <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
  </form>

  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Current visibility') }}
  </h2>

  {% if h.get_visibilities() %}
    <table class="table table-chunky table-bordered table-striped">
      <thead>
      <tr>
          <th>{{ _('visibility Name') }}</th>
          <th class="metric">{{ _('Delete') }}</th>
      </tr>
      </thead>
      <tbody>
      {% for visibility in h.get_visibilities() %}
          <tr>
            <td>
              <h2>{{ visibility.visibility }}</h2>
            </td>
            <td class="metric"> 
              <form id="tags-delete" class="dataset-form dataset-resource-form" method="post" action="{{ actiondeletevisibility }}" data-module="basic-form resource-form" enctype="multipart/form-data">
                <P>Pressing this button will instantly delete the visibility, and will set all datasets with this visibility to private</P>
                {{ form.hidden('visibility', value=visibility.visibilityid ) }}
                <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit" onclick="return confirm('Are you sure you want to permanently delete the ‘{{ tags }}’ tag?')">{{ _('Delete') }}</button> 
              </form>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="empty">{{ _('No tags') }}</p>
  {% endif %}

{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Administer CKAN') }}
    </h2>
    <div class="module-content">

      {% set docs_url = "http://docs.ckan.org/en/{0}/sysadmin-guide.html".format(g.ckan_doc_version) %}
      {% trans %}
        <p>As a sysadmin user you have full control over this CKAN instance. Proceed with care!</p>
        <p>For guidance on using sysadmin features, see the CKAN  <a href="{{ docs_url }}" target="_blank" rel="noreferrer">sysadmin guide</a></p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}