{% ckan_extends %}

{% block package_metadata_fields_visibility %}
<div class="form-group control-full">
    <label class="control-label" for="field-visibility">{{ _("Granular Visibility") }}</label>
    <div class="controls">
    {% block package_metadata_fields_visibility_select %}
    <select id="field-visibility" name="visibilityid" data-module="autocomplete">
    {% endblock %}
        {% for visibility in h.get_visibilities()  %}
            <option value="{{ visibility.visibilityid }}" title="{{ visibility.description }}" 
            {% if form_style != 'new' %}
                {% if h.is_selected(data.id, visibility.visibilityid) %} 
                    selected="selected"
                {% endif %}
            {% endif %}
                >{{ visibility.visibility }}</option>
        {% endfor %}
    </select>
    </div>
</div>

{{ super() }}

{% endblock %}